<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 회원가입중에 왔으면 회원가입 실패</h1>
    <span> 로그인 상태 : {{request.user.username}}</span>
    <div>
        {%csrf_token %}
    </div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:logout'%}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login'%}">로그인</a>
        <a href="{% url 'accounts:signup'%}">회원가입</a>
    {% endif %}
</body>
</html>